<%- contentFor('title') %>
Informações da conta

<%- contentFor('head') %>
<link rel="stylesheet" href="/public/css/conta.css">

<%- contentFor('body') %>
<!-- conteúdo que vai dentro do body -->

<div class="float-words" >
  <h4> CONFIGURAÇÃO DO USUÁRIO </h4>
</div>

<div class="container d-flex justify-content-center align-items-center vh-100" >
    <form method="POST" action="/" class="w-50 bg-white p-5">
      <h1 class="display-5 mb-5">Atualize seus dados:</h1>
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="nome" class="form-control" id="inputNome" placeholder="Nome Completo*">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="password" class="form-control" id="inputPassword" placeholder="Senha*">
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">Atualizar</button>
    </form>
  </div>
  