<%- contentFor('title') %>
Login page

<%- contentFor('head') %>
<link rel="stylesheet" href="/public/css/index.css">

<%- contentFor('body') %>
<!-- conteúdo que vai dentro do body -->
<h1> Hello world </h1>

<script src="/public/js/index.js"></script>