<%- contentFor('title') %>
Editar tipo

<%- contentFor('head') %>
<link rel="stylesheet" href="/public/css/conta.css">

<%- contentFor('body') %>

<h1>Cadastrar tipo</h1>

<div class="container"></div>